<!DOCTYPE html>
<html lang="en">

<head>
    <title>My AngularJS App with ts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

</head>

<body>
    <style>
        body {
            font-family: 'Montserrat', 'Trirong', sans-serif;
            font-size: 13px;
            color: #666666;
            background-color: #ebebeb;
            font-weight: 300;
        }


        /*PADDING MARGIN*/
        .margin-right15 {
            margin-right: 15px;
        }

        .margin-bottom20 {
            margin-bottom: 20px;
        }



        header {
            background-color: #3b3065;
            margin-bottom: 40px;
            -webkit-box-shadow: 0 30px 15px -10px #cccccc;
            -moz-box-shadow: 0 30px 15px -10px #cccccc;
            box-shadow: 0 30px 15px -10px #cccccc;
        }

        a.logoText {
            font-size: 30px;
            font-weight: 500;
            color: #ffffff;
            text-decoration: none;
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .headerProfile {
            margin-top: 15px;
        }

        .headerProfile a {
            color: #fff;
            text-decoration: none;
        }

        a.bookmarkicon {
            display: inline-block;
            background-color: #2a214e;
            padding: 10px 15px;
            text-align: center;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }

        footer {
            margin: 30px 0;
        }

        .bgContent {
            background-color: #fff;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        .lineHeadTitle {
            border-left: 5px solid #3b3065;
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 40px;
        }

        .lineHeadTitle p {
            font-size: 24px;
            color: #3b3065;
            font-weight: 500;
            margin-bottom: 0;
        }

        .lineHeadTitle span {
            font-size: 14px;
        }

        .mcontent {
            padding: 10px 45px 45px;
        }

        #calendar {
            max-width: 100%;
            margin: 0 auto;
        }

        .legend {
            padding: 7px 10px;
            margin-bottom: 5px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .bgColor1 {
            background-color: #ffefc4;
        }

        .bgColor2 {
            background-color: #d1f2cc;
        }

        .bgColor3 {
            background-color: #cfe3f7;
        }

        .bgColor4 {
            background-color: #ffdbee;
        }

        .bgColor5 {
            background-color: #efefef;
        }


        .tab-content {
            padding: 30px 0;
        }

        .sectionButton {
            background-color: #f2f2f2;
            text-align: center;
            padding: 30px;
            margin-top: 30px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        .bgGrey {
            background-color: #ededed;
            padding: 10px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        .paddingBar {
            padding: 8px 5px 0 8px;
        }
    </style>
    <header>
        <navbar-view></navbar-view>
    </header>
    <app-view></app-view>
</body>

</html>