<!-- <h1>{{$ctrl.welcome}}</h1> -->
<!-- <root-view variable="'data'"></root-view> -->
<bind-view variable="'data'"></bind-view>
<!-- 
<ngr-counter di-name="c1"></ngr-counter>
<ngr-counter di-name="c2"></ngr-counter> -->