<section>
    <div class="container-fluid">
        <div class="bgContent">
            <span class="lineHeadTitle">
                <p>Roadshow Detail</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laborum.</span>
            </span>
            <div class="mcontent">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</section>