<!-- <div ng-repeat='user in $ctrl.users' class='row'>
    <div class='col-md-12'>
        <h4 class='text-center'>
            {{user.name}}
        </h4>
    </div>
</div> -->
<button id='primaryTextButton' class='k-primary'>Primary Button</button>
<!-- 
<pre>{{ $ctrl.users | json }}</pre> -->

<pre>{{ $ctrl.users | json }}</pre>

<div id='dropdown'></div>
<bind-view variable="'data'"></bind-view>